#nav{
    grid-area: nav;
    background-color: yellow;
    height: 50px;
    border: 2px solid black;
    border-radius: 2px;
    margin: 5px;
}

#footer{
    grid-area: footer;
    background-color: red;
    height: 100px;
    border: 2px solid black;
    border-radius: 2px;
    margin: 5px;
    
}

#main{
    grid-area: main;
    background-color: grey;
    height: 400px;
    border: 2px solid black;
    border-radius: 2px;
    margin: 5px;
}

#rightmenu{
    grid-area: rightmenu;
    background-color: green;
}

#leftmenu{
    grid-area: leftmenu;
    background-color: aqua;
    height: 500px;
    border: 2px solid black;
    border-radius: 2px;
    margin: 5px;
}

#container{
    display: grid;
    grid-template-areas: 'nav nav nav nav'
    'leftmenu main main rightmenu'
    'leftmenu main main rightmenu'
    'leftmenu footer footer footer';
}

#nav>img{
    display: inline;
    height: 50px;
    width: 100px;
}

#nav>button{
    
    margin-left: 10px;
    margin-top: 11px;
    margin-top: 10px;
    margin-bottom: 25px;
  
    
   
}

#leftmenu>ul{
    list-style: none;
}

#leftmenu>ul>li>button{
    text-align: center;
    height: 20px;
    width: 50px;
    margin-top: 50px;
}

.dropdown{
    margin-left: 50px;
    margin-top: 50px;
}

#menubutton{
    display: none;
}

@media  screen and (max-width: 500px) {
    #container{
        display: grid;
        grid-template-areas: 'nav nav nav nav'
        'rightmenu rightmenu rightmenu rightmenu'
        'leftmenu main main main '
        'leftmenu main main main'
        'leftmenu footer footer footer';
  }
#rightmenu{
    height: 150px;
    display: none;
}

#menubutton{
    display: inline;
}
}

@media  screen and (max-width: 1024px) and (min-width: 501px) {
    #container{
        display: grid;
        grid-template-areas: 'nav nav nav nav'
     /*  'rightmenu rightmenu rightmenu rightmenu'*/
        'leftmenu main main main '
        'leftmenu main main main'
        'leftmenu footer footer footer';
  }
#rightmenu{
    height: 150px;
    display: none;
}

#menubutton{
    display: inline;
}
}