#zid {
    color: blue;
    font-size: 2em;
   }

   .zclass{
    color: darkgoldenrod;
   }

   body{
   
    text-transform: uppercase;
    letter-spacing: 10px;
    word-spacing: 105px;
    line-height: 10px;
     text-indent: 2px;
    text-align: center;

   }

   #area1{
    background-color: aquamarine;
   }

   #area2{
    background-color: blue;
   }

   #area2>button{
    border-width: 10px;
   }