
body{
    background-image: url('/Classes/Media/mwallpaper.jpg');
    background-repeat: repeat;
    background-size: cover;
    background-attachment: fixed;
}



#icon{

    height: 150px;
    width: 150px;
    bottom: 100px;
 
    position: absolute;



}

/* #panel{
    z-index: 1;
    margin-left: 800px;
    position: absolute;
    margin-top: 750px;
} */
#panel>button{
    font-size: 30px;
}

/* #rm{
    height: 50px;
    width: 50px;
    z-index: 1;
    position: absolute;
    margin-top: 870px;
    margin-left: 50px;  ;
} */
