
.div{
    align-items: first baseline;
}
.img{
    position:absolute;
    left: 50px;
    top: 50px;
    ;
}

.caption{
    position: absolute;
    left: 150 px;
    top: 180px;
    padding-left: 100px;
z-index: 1;
}